@import "../../colors.scss";
@import "../../customs.scss";
@import "../../breakpoints.scss";

.ocean_flow_main {
    @extend .centered;

    height: 100vh;
    width: 100vw;
    background-color: $color1;
}

.ocean_flow_cont {
    @include mainBoxShadow();

    @media screen and (max-width: $main_large) {
        height: 85vh;
    }

    height: 90vh;
    width: 90vw;
    position: relative;
    background-color: $color3;
    border-radius: 25px;
    overflow: hidden;
}