@import "../../../../customs.scss";
@import "../../../../colors.scss";

.skip_button {
    @extend .centered;
    @include mainBoxShadow();

    width: 50px;
    height: 30px;
    font-size: 16px;
    background-color: $color1;
    color: $color2;
    position: absolute;
    top: 15px;
    left: 15px;

    &_small {
        @extend .skip_button;

        width: 40px;
        height: 25px;
    }
}