@import "../../../../../colors.scss";
@import "../../../../../breakpoints.scss";


.letters_title {
    font-weight: 900;
    color: $color4;
    font-weight: bold;
    display: flex;
    cursor: default;
    position: relative;

    &_letter {
        position: absolute;
        transition-duration: 2s;
        font-size: 27px;
        cursor: none;

         @media screen and (max-width: 1300px) {
            font-size: 20px;
        }

        @media  screen and (max-width: 1000px) {
            font-size: 17px;
        }
        
        @media screen and (max-width: 540px) {
            font-size: 12px;
        }
    }
}