@import "../../../../customs.scss";
@import "../../../../breakpoints.scss";

.game_tiles_main {
    @extend .centered;
    width: 70vw;

    @media screen and (max-width: $main_large) {
        width: 60vw;
    }

    @media screen and (max-width: $main_medium) {
        width: 100vw;
        height: 70%;
    }

    @media screen and (max-width: $main_small) {
        flex-direction: column;
    }
}

.games_groups {
    @media screen and (max-width: $main_small) {
        display: flex;
    }
}

.games_group {
    display: flex;

    @media screen and (max-width: $main_small) {
        flex-direction: column;
    }
}