@import "../../customs.scss";
@import "../../colors.scss";

.tile {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid $color4;
  border-radius: 5px;
  margin: 25px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 0px 1px 1px $color4;

  &_image {
    @extend .absolute_background;
  }

  &_hover_cont {
    @extend .absolute_background;
    @extend .centered;
    
    color: $color4;
    font-weight: 900;

    &::after {
      @extend .absolute_background;
      @extend .demo;

      content: "";     
    }
  }
}